/* =========================
   APP
========================= */

#app {

    width: min(1500px, 94%);

    margin: 0 auto;

    padding: 30px 0 60px;

    display: grid;

    grid-template-columns:
        repeat(12, minmax(0, 1fr));

    gap: 14px;

}


/* =========================
   PAGE LAYOUT
========================= */

.section-header {

    grid-column:
        1 / -1;

}

.section-balance {

    grid-column:
        1 / -1;

}

.section-accounts {

    grid-column:
        1 / 9;

}

.section-credit {

    grid-column:
        9 / -1;

}

.section-transactions {

    grid-column:
        1 / 9;

}

.section-summary {

    grid-column:
        9 / -1;

}

.section-categories {

    grid-column:
        1 / -1;

}


/* =========================
   MOBILE
========================= */

@media (max-width: 850px) {

    #app {

        width: 92%;

        padding-top: 20px;

    }


    .section-accounts,
    .section-credit,
    .section-transactions,
    .section-summary {

        grid-column:
            1 / -1;

    }

}