<section class="section-summary panel">

    <div class="panel-header">

        <div>

            <div class="panel-title">

                Resumo

            </div>


            <div class="panel-subtitle">

                Mês atual

            </div>

        </div>

    </div>


    <div class="summary">

        <div class="summary-row">

            <span class="summary-label">

                Total de entradas

            </span>


            <span
                class="summary-value positive"
                data-field="income"
            ></span>

        </div>


        <div class="summary-row">

            <span class="summary-label">

                Total de gastos

            </span>


            <span
                class="summary-value negative"
                data-field="expenses"
            ></span>

        </div>


        <div
            class="
                summary-row
                summary-total
            "
        >

            <span class="summary-label">

                Resultado

            </span>


            <span
                class="summary-value"
                data-field="result"
            ></span>

        </div>


        <div class="chart-placeholder">

            GRÁFICO

        </div>

    </div>

</section>