<header class="header">

    <div class="brand">

        <div class="brand-logo">

            DF

        </div>


        <div>

            <div class="brand-name">

                FINANCE

            </div>


            <div class="brand-subtitle">

                Personal Control

            </div>

        </div>

    </div>


    <div class="month-control">

        <button
            class="month-button"
            data-action="previous"
        >

            ←

        </button>


        <div class="month-display">

            <div class="month-label">

                Mês atual

            </div>


            <div
                class="month-name"
                data-field="month"
            ></div>

        </div>


        <button
            class="month-button"
            data-action="next"
        >

            →

        </button>

    </div>

</header>