<section class="section-credit">

    <div class="panel-header">

        <div>

            <div class="panel-title">

                Crédito futuro

            </div>


            <div class="panel-subtitle">

                Próximo mês

            </div>

        </div>

    </div>


    <div class="credit-content">

        <div class="credit-box">

            <div class="credit-header">

                <div class="credit-label">

                    Fatura prevista

                </div>


                <div
                    class="credit-month"
                    data-field="month"
                >

                    Próximo mês

                </div>

            </div>


            <div
                class="credit-value"
                data-field="value"
            >

                R$ 0,00

            </div>

        </div>

    </div>

</section>