<section class="panel transactions-panel">

    <div class="panel-header">

        <div>

            <div class="panel-title">
                Movimentações
            </div>


            <div
                class="panel-subtitle"
                data-transactions-count
            ></div>

        </div>


        <button
            class="transaction-add"
            data-transactions-action="add"
        >

            + Adicionar

        </button>

    </div>


    <div
        class="transactions-list"
        data-transactions-list
    ></div>

</section>